/* ORDINATEURS */
@media screen and (min-width: 1000px){

    /*taille bouton nav header */
    header div nav ul li.btn-nav p{
        font-size: 30px;
    }
    /* taille image du header */
    header div img {
        width: 10%;
        height: auto;
    }
    /* taille du titre d'accueil */
    main section div.texte-accueil h1 {
        font-size: 40px;
    }
    /* taille du texte d'accueil */
    main section div.texte-accueil p {
        font-size: 20px;
    }
    /* images du menu de navigation d'accueil */
    main section div nav ul li img.img-nav-accueil{
        width:40%;
    }
    /* Titre de section : Présentation Personnelle */
    main section article div.titre-section h2{
        font-size: 35px;
    }
    main section article div.titre-section p{
        font-size: 26px;
    }

}