/*  ►  Media Querries  ◄  */ 
/* TABLETTES */
@media screen and (min-width: 615px) {

    

    /* Emplacement et Forme du footer */
    /* footer en grille */
    footer div.grille-footer{
        display: grid;
        /* configuration de la grille en 3 colonnes */
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: auto;
        grid-auto-rows: auto; 
        grid-column-gap: 2px;
        grid-row-gap: 1px;
        background-color: #fafafa;
    }

    /* bloc1 */
    footer div div.footer-bloc1 p {
        font-size: 20px;
        text-align: center;
    }
    footer div div.footer-bloc1 img#logo-footer.logo-footer {
        width: 150px;
        padding-top: 5%;
        margin-left: 12.5%;
    }

    /* bloc2 */
    footer div div.footer-bloc2 h5 {
        font-size: 20px;
        text-align: center;
        color: #c73434;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }
    footer div div.footer-bloc2 h6 {
        font-size: 18px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-left: 0;
        text-align: center;
    }
    footer div div.footer-bloc2 p {
        font-size: 12px;
        color: #4272ad;
    }
    footer div div.footer-bloc2 img.linkedin-logo, footer div div.footer-bloc2 img.github-logo {
        width: 25%;
        padding-left: 15%;
    }

    /* bloc3 */
    footer div div nav ul li.btn-nav-footer {
        list-style-type: none;
        font-size: 18px;
    }

    /* bloc4 */
    footer div div nav ul li.btn-projets-footer {
        list-style-type: none;
        font-size: 15px;
        margin-left: 0;
        margin-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    footer div.socket p {
        font-size: 14px;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

}