/**/ /**/ /* Max 550px */ /**/ /**/

@media screen and (max-width: 550px) {
    #img-projets {
        width: 60%;
    }
}

/**/ /**/ /* Min 551px */ /**/ /**/

@media screen and (min-width: 551px) {
    /* textes et images compétences et expériences */
    main section div div.liste-cpt h4,main section div div.liste-exp h4 {
        padding-left: 20%;
        padding-right: 5%;
    }
    main section div div.liste-cpt ul li, main section div div.liste-exp ul li {
        padding-left: 25%;
        padding-right: 25%;
    }
}

/**/ /**/ /* Min 800px */ /**/ /**/

@media screen and (min-width: 800px) {
    /* images menu nav accueil */
    main section div nav ul li img.img-nav-accueil {
        width: 40%;
    }
    /* tailles d'images du main */
    main section article div div img#img-imac, main section article div div img#img-btsam, main section article div div img#img-nws {
        width: 45%;
        height: auto;
        padding-left: 27.5%;
    }
    main section div div img#img-cv, main section div div img#img-ldr {
        width: 50%;
        height: auto;
        padding-left: 25%;
    }
}

/**/ /**/ /* Min 900px */ /**/ /**/

@media screen and (min-width: 900px) {
    /* images menu nav accueil */
    main section div nav ul li img.img-nav-accueil {
        width: 40%;
    }
    /* tailles d'images du main */
    main section article div div img#img-imac, main section article div div img#img-btsam, main section article div div img#img-nws {
        width: 45%;
        height: auto;
        padding-left: 27.5%;
    }
    main section div div img#img-cv, main section div div img#img-ldr {
        width: 50%;
        height: auto;
        padding-left: 25%;
    }
}

/**/ /**/ /* Min 1100px */ /**/ /**/

@media screen and (min-width: 1100px) {
    main section div.texte-accueil p {
        font-size: 26px;
    }
    main section article div.titre-section p {
        font-size: 26px;
    }
     /* images menu nav accueil */
    main section div nav ul li img.img-nav-accueil {
        width: 40%;
    }
    /* tailles d'images du main */
    main section article div div img#img-imac, main section article div div img#img-btsam, main section article div div img#img-nws {
        width: 70%;
        height: auto;
        padding-left: 15%;
    }

     /* grille de la presentation personnelle */
     #grille-presentation {
         display: grid;
         grid-template-columns: 33% 33% 33%;
         grid-template-rows: auto;
     }

     /* grille des compétences et expériences */
     #grille-competences {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
    .col1-lin1{
        grid-column: 1/2;
        grid-row: 1/2
    }
    .col1-lin2{
        grid-column: 1/2;
        grid-row: 2/3
    }
    .col2-lin1{
        grid-column: 2/3;
        grid-row: 1/2
    }
    .col2-lin2{
        grid-column: 2/3;
        grid-row: 2/3
    }

    main section div div img#img-cv, main section div div img#img-ldr {
        width: 80%;
        height: auto;
        padding-left: 10%;
        padding-top: 20%;
    }
    main section div div.liste-exp h3 {
        text-align: center;
        padding-top: 5%;
    }
    /* grille nav projets */
    #grille-projets {
        display: grid;
            grid-template-columns: 33% 33% 33%;
    }
    .img-projets {
        width: 75%;
    }
    #img-projets-2 {
        width: 65%;
    }
    #titre-projet-2 {
        margin-bottom: 15%;
    }

}

/**/ /**/ /* Min 1300px */ /**/ /**/

@media screen and (min-width: 1300px) {
    main section div div.liste-cpt h3, main section div div.liste-exp h3 {
        text-align: center;
        font-size: 40px;
    }
    main section div div.liste-cpt h4, main section div div.liste-exp h4 {
        font-size: 30px;
    }
    main section div div.liste-cpt ul li {
        font-size: 25px;
    }
    main section div div.liste-exp ul li {
       font-size: 25px;
    }
    main section div div img#img-cv, main section div div img#img-ldr {
        width: 100%;
        height: auto;
        padding-left: 10%;
        padding-top: 10%;
    }
    main section div div.liste-cpt ul li, main section div div.liste-exp ul li {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/**/ /**/ /* Min 1500px */ /**/ /**/

@media screen and (min-width: 1500px) {
    main section div div.liste-cpt h3, main section div div.liste-exp h3 {
        text-align: center;
        font-size: 42px;
    }
    main section div div.liste-cpt h4, main section div div.liste-exp h4 {
        font-size: 32px;
    }
    main section div div.liste-cpt ul li {
        font-size: 30px;
    }
    main section div div.liste-exp ul li {
       font-size: 30px;
    }
    main section div div img#img-cv, main section div div img#img-ldr {
        width: 80%;
        height: auto;
        padding-left: 10%;
        padding-top: 10%;
    }
    main section div div.liste-cpt ul li, main section div div.liste-exp ul li {
        padding-left: 20%;
        padding-right: 18%;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE PROJETS */ /**/ /**/ /**/ /**/

@media screen and (min-width: 1100px){
    /* placements pour grilles */
    main section article div div h3.titres-pres-projets {
        text-align: left;
        padding-left: 10%;
    }   
    main section article div div p.textes-pres-projets {
        padding-left: 1%;
        padding-right: 7.5%;
        margin-block-start: 0.1em;
        margin-block-end: 0.1em;
    }

    /* grille iawa */
    #grille-projets-iawa {
        display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
    }
    #img-projet-IAWA {
        width: 85%;
        padding-top: 2%;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    .titres-pres-projets {
        text-align: center;
    }

    /* grille projet 3 */
    #grille-projets-3 {
        display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
    }
    #img-projet-PBS {
        width: 85%;
        padding-top: 8%;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    .titres-pres-projets {
        text-align: center;
    }

    /* grille projet 2 */
    #grille-projets-2 {
        display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
    }
    #img-projet-PO {
        width: 85%;
        padding-top: 10%;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    .titres-pres-projets {
        text-align: center;
    }

    /* grille projet GitHub */
    #grille-projets-GitHub {
        display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
    }
    #img-projet-GitHub {
        width: 85%;
        padding-top: 5%;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    .titres-pres-projets {
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 850px) {
    main section article div div p.textes-pres-projets {
        font-size: 28px;
    }   
}

@media screen and (min-width: 1100px) {
    main section article div div p{
        font-size: 24px;
    }
    main section article div div h3 {
        font-size: 28px;
    }
}   

@media screen and (min-width: 1200px) {
    main section article div div h3.titres-pres-projets {
        padding-top: 0.2%;
    }
}

@media screen and (min-width: 1400px) {
    main section article div div h3.titres-pres-projets {
        padding-top: 8%;
    }
}

@media screen and (min-width: 1600px) {
    main section article div div h3.titres-pres-projets {
        padding-top: 8%;
    }
    main section article div div p{
        font-size: 28px;
    }
    main section article div div h3 {
        font-size: 34px;
    }
}

@media screen and (min-width: 1800px) {
    main section article div div h3.titres-pres-projets {
        padding-top: 10%;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE CRÉDITS & RGPD */ /**/ /**/ /**/ /**/

@media screen and (min-width: 1000px) {
    #grille-credits {
        display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
    }
    .p1-credits{
        grid-column: 1 / 2;
    }
    .p2-credits{
        grid-column: 2 / 3;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE : PROJET IAWA */ /**/ /**/ /**/ /**/

@media screen and (min-width: 1000px) {
    /* texte du h2 et partie 1 */
    main section article div.iawa-txt-sup p, main section article div.iawa-txt-p1 p{
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 28px;
    }
    main section article div.iawa-txt-p1 h3{
        text-align: center;
    }
    main section article div img#iawa-img-p1 {
        width: 75%;
        padding-left: 12.5%;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE : PROJET ÉTUDIANT Psychobject */ /**/ /**/ /**/ /**/

@media screen and (max-width: 1200px) {
    .txt-presentation-psychobject{
        font-size: 25px;
    }
    #grille-Psychobject {
        display:grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(12, auto);
    }
    .txt-titre-psychobject{
        color: #b2061e;
        padding-left: 10%;
        padding-right: 10%;
    }
    .txt-paragraphe-psychobject {
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
        font-size: 22px;
    }
    .img-projet-psychobject {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (max-width: 1500px) {
    .img-projet-psychobject {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 15%;
    }
}
    