/**/ /**/ /* GÉNÉRAL */ /**/ /**/

/* retire la marge auto et change la police */
html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
/* Modifie les tailles des titres et paragraphes */
/* 1er Titre de la page */
h1 {
    font-size: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: center;
}
/* Titres de sections */
h2 {
    font-size: 35px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
/* Titre de sous-partie */
h3 {
    font-size: 30px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
/* Utilisé dans main et footer */
h4 {
    font-size: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
/* Utilisé pour le footer */
h5 {
    font-size: 18px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
/* Utilisé pour la socket */
h6 {
    font-size: 16px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
/* taille de la police des paragraphes */
p {
    font-size: 20px;
}
/* décor. des liens */
a{
    text-decoration: none;
    color: #4c98c7;
}
/* modifie ul et li sur la taille et décor. de texte */
ul {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    text-decoration: none;
    list-style-type: none;
}
li {
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}

/* Séparateur de base custom (préférable) */
hr {
    border: 2px solid #4272ad;
    width: 50%;
    margin: auto;
}
/* Séparateur fait main */
.separateur {
    background: #ffffff; 
    text-align: center;
    width: 50%;
    height: 10px;
    margin: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/**/ /**/ /**/ /**/ /* HEADER & FOOTER */ /**/ /**/ /**/ /**/

/**/ /**/ /* HEADER */ /**/ /**/

/* Header = Menu de Navigation */

/* Grille du header */
#topbar {
    display: grid;
      /* configuration de la grille en 3 colonnes */
      grid-template-columns: 20% auto auto auto 20%;
      grid-auto-rows: 1fr; 
      grid-column-gap: 2px;
      grid-row-gap: 1px;
}
#img-logo {
    grid-column: 1;
}
#btn-nav1 {
    grid-column: 3;
}
#btn-nav2 {
    grid-column: 4;
}
#btn-nav3 {
    grid-column: 5;
}
/* fond et bordure du header */
header div.topbar{
    background-color: #fafafa;
    border: 1px solid #e1e1e1; border-left: none; border-right: none; border-top: none;
}
/* logo du header */
#img-logo {
    width: 100%;
    height: auto;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: 0.3s; 
}
/* animation du survol du logo */
header div img:hover {
    transform: scale(1.2, 1.2);
}
/* BOUTONS de Navigation */
/* Design des boutons */
header div div p.btn-nav{
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}
/* modifie le visuel des liens des boutons */
header div div p.btn-nav a{
    text-decoration: none;
    color: #4c98c7;
}
/* Ajoute un soulignement rouge lors du survol */
header div div p.btn-nav a:hover{
    transition: 0.5s;
    text-decoration: underline #c73434;
    color: #4272ad;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /* F00TER */ /**/ /**/

/* Emplacement et Forme du footer */

/* footer en grille */
footer div.grille-footer{
    display: grid;
      /* configuration de la grille en 3 colonnes */
      grid-template-columns: 100%;
      grid-template-rows: repeat(4,auto);
      grid-auto-rows: auto; 
      grid-column-gap: 2px;
      grid-row-gap: 1px;
      background-color: #fafafa;
}
/* bande bleu de démarcation du footer */
footer div.grille-footer{
    border: 1px solid #e1e1e1; border-left: none; border-right: none; border-bottom: none;
}

/* Placements des blocs du footer en partant du haut*/

/* BLOC 1 : logo footer */
footer div div.footer-bloc1 img#logo-footer.logo-footer{
    width:50%;
    padding-top: 5%;
    margin-left: 25%;
}
/* texte sous logo footer */
footer div div.footer-bloc1 h5{
    text-align: center;
}

/* BLOC 2 : Contactez moi */
/* Contactez moi */
footer div div.footer-bloc2 h4{
    text-align: center;
    color: #c73434;
}
/* Par email / Sur Linkedin & GitHub */
footer div div.footer-bloc2 h5{
    text-align: center;
}
/* contact.guillaumebullet@gmail.com */
footer div div.footer-bloc2 p{
    text-align: center;
    color: #4272ad;
}
/* logo linkedin & github */
footer div div.footer-bloc2 img.linkedin-logo,footer div div.footer-bloc2 img.github-logo{
    width: 25%;
    padding-left: 17%;
    transition: 0.3s;
}
/* survol logo linkedin & github */
footer div div.footer-bloc2 img.linkedin-logo:hover,footer div div.footer-bloc2 img.github-logo:hover{
    transform: scale(1.2, 1.2);
}
/* liens logo linkedin & github */
footer div div.footer-bloc2 a{
    text-decoration: none;
}

/* BLOC 3 : Menu de Navigation */
/* class du menu de navigation --> met au centre le titre Pages */
footer div div.footer-bloc3 h4 {
    text-align: center;
}
/* class du menu de navigation --> met au centre les boutons */
footer div div nav.menu-nav-footer{
    text-align: center;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* class des boutons --> modifie les boutons */
footer div div nav ul li.btn-nav-footer{
    list-style-type: none;
    color: #4c98c7;
    margin-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
/* Design des boutons */
/* modifie le visuel des liens des boutons */
footer div div nav ul li.btn-nav-footer a{
    text-decoration: none;
    color: #4c98c7;
}
/* Ajoute un soulignement rouge lors du survol */
footer div div nav ul li.btn-nav-footer a:hover{
    transition: 0.5s;
    text-decoration: underline #c73434;
    color: #4272ad;
}

/* BLOC 4 : Navigation Derniers Projets  */
/* class du menu de navigation --> met à gauche les boutons */
footer div div.footer-bloc4 h4{
    text-align: center;
}
/* class des boutons --> déplace les projets */
footer div div.footer-bloc4 nav{
    list-style-type: none;
    padding-left: 20%;
}
/* Design des boutons */
/* modifie le visuel des liens des boutons */
footer div div nav ul li.btn-projets-footer a{
    text-decoration: none;
    color: #555555;
}
/* Ajoute un soulignement rouge lors du survol */
footer div div nav ul li.btn-projets-footer a:hover{
    transition: 0.5s;
    color: #c73434;
}


/* Emplacement et Forme de la socket */

/* Socket */
footer div.socket h6{
    text-align: center;
    color: white;
    background-color: black;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/**/ /**/ /**/ /**/ /* PAGE INDEX.HTML (accueil) */ /**/ /**/ /**/ /**/

/**/ /**/ /* MAIN */ /**/ /**/


/* TEXTE D'ACCUEIL */

/* Bienvenue */
main section div.texte-accueil h1{
    text-align: center;
    color: #4272ad;
}
/* texte d'accueil */
main section div.texte-accueil p{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: #4272ad;
}

/* MENU DE NAVIAGTION AVEC IMAGES */

/* images du menu de navigation d'accueil */
main section div nav ul li img.img-nav-accueil{
    width:75%;
    height: auto;
    display:block;
    margin: auto;
    transition: 0.8s;
}
/* Animation de rotation sur l'axe Y */
main section div nav ul li img:hover{
    transform: rotateY(180deg);
}

/* enlever les puces */
main section div nav.nav-accueil ul li{
    list-style-type: none;
}

/* Mise en place de la grille */
#grille-accueil{
    display: grid;
      /* configuration de la grille en 3 colonnes */
      grid-template-columns: 33% 33% 33%;
      grid-auto-rows: auto; 
      grid-column-gap: 2px;
      grid-row-gap: 1px;
}
 /* qui suis-je */
 #qsj {
    grid-column: 1;
    text-align: center;
    padding-top: 5%;
}
 /* compétences */
 #cpt{
    grid-column: 2;
    text-align: center;
    padding-top: 5%;
}
 /* Projets */
 #prj {
    grid-column: 3;
    text-align: center;
    padding-top: 5%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* PRÉSENTATIONS PERSONNELLES */

/* Titre de section : Qui suis-je ? */
main section article div.titre-section h2{
    text-align: center;
}
/* sous-titre : Présentation Personnelle */
main section article div.titre-section p{
    text-align: center;
    color: #4272ad;
}


/* Titre de partie : À la recherche du Numérique / Une expérience enrichissante / Désillusion et Réorientation */
main section article div div.s3-titre1 h3, main section article div div.s3-titre2 h3, main section article div div.s3-titre3 h3{
    text-align: center;
}

/* Titre de sous-partie */
main section article div div.s3-texte1 h4, main section article div div.s3-texte2 h4, main section article div div.s3-texte3 h4{
    text-align: left;
    padding-left: 10%;
}
/* Texte de sous-partie */
main section article div div.s3-texte1 p, main section article div div.s3-texte2 p,main section article div div.s3-texte3 p{
    text-align: left;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
    color: #4272ad;
}

/* Images d'illustrations  */
main section article div div img#img-imac, main section article div div img#img-btsam, main section article div div img#img-nws{
    width: 75%;
    height: auto;
    padding-left: 12.5%;
}
/* Texte de conclusion de la présentation */ 
main section article div.ccl-presentation p{
    text-align: center;
    color: #4c98c7;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* COMPÉTENCES ET EXPÉRIENCES */

/* Titre de section : Travaillographie */
main section div div.titre-section h2{
    text-align: center;
    color: #121212;
}
/* Titre de section : Compétences et Expériences Professionnelles */
main section div div.titre-section p{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: #4272ad;
}

/* Titre de partie : Compétences / Expériences */
main section div div.liste-cpt h3, main section div div.liste-exp h3{
    text-align: center;
}

/* Titre de sous-partie */
main section div div.liste-cpt h4, main section div div.liste-exp h4{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color: #c73434;
}
/* Texte de sous-partie */
main section div div.liste-cpt ul li{
    padding-left: 15%;
    padding-right: 10%;
    color: #4272ad;
}
/* Texte de sous-partie */
main section div div.liste-exp ul li{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    color: #4272ad;
}

/* Images d'illustrations  */
main section div div img#img-cv, main section div div img#img-ldr {
    width: 75%;
    height: auto;
    padding-left: 12.5%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* PROJETS */
    .nav-projets {
        text-align: center;
    }
    .img-projets {
        width: 75%;
        transition: 0.3s;
    }
    .img-projets:hover {
        transform: scale(1.2, 1.2);
    }
    section div div div#titre-projet-iawa p, .titre-projet-3, .titre-projet-2 {
        font-size: 30px;
    }



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE CONTACT */ /**/ /**/ /**/ /**/

/* Mise en forme des textes */
main section.mails div h1{
    text-align: center;
}
main section.mails div h2{
    text-align: center;
}
main section.mails div ul li{
    text-align: center;
    color: #4272ad;
}

/* Centrage du texte et des images */
main section.reseaux-sociaux div ul li, main section.reseaux-sociaux div h2{
    text-align: center;
}
/* logo linkedin & github */
main section.reseaux-sociaux img.linkedin-logo, main section.reseaux-sociaux img.github-logo{
    width: 20%;
    transition: 0.3s;
}
/* survol logo linkedin & github */
main section.reseaux-sociaux img.linkedin-logo:hover, main section.reseaux-sociaux img.github-logo:hover{
    transform: scale(1.2, 1.2);
}
/* profil linkedin & github */
main section.reseaux-sociaux img.linkedin-profil, main section.reseaux-sociaux img.github-profil{
    width: 60%;
    height: auto;
    transition: 0.3s;
}
/* survol profil linkedin & github */
main section.reseaux-sociaux img.linkedin-profil:hover, main section.reseaux-sociaux img.github-profil:hover{
    transform: scale(1.2, 1.2);
}
/* liens logo linkedin & github */
main section.reseaux-sociaux a{
    text-decoration: none;
}

/* titre crédits et mentions légales */
main section.credits-rgpd div h2{
    text-align: center;
}
/* crédits et rgpd texte*/
main section.credits-rgpd div h3{
    text-align: center;
    text-decoration: none;
}
/* lien crédits et rgpd */
main section.credits-rgpd div h3 a{
    text-align: center;
    text-decoration: none;
    color: #c73434;
    transition: 0.3s;
}
main section.credits-rgpd div p a:hover{
    color: #4272ad;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE PROJETS */ /**/ /**/ /**/ /**/


/* Mise en forme des articles avec des grilles */
main section article h2 {
    text-align: center;
}
main section article div div h3.titres-pres-projets{
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.1em;
}
main section article div div p.textes-pres-projets{
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
main section article div h4.titres-pres-projets{
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/*grille projet iawa */
#grille-projets-iawa {
    display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
}
#img-projet-IAWA {
    width: 85%;
    padding-left: 7.5%;
    transition: 0.3s;
}
#img-projet-IAWA:hover {
    transform: scale(1.2, 1.2);
}

/*grille projet 3 */
#grille-projets-3 {
    display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
}
#img-projet-PBS {
    width: 85%;
    padding-left: 7.5%;
    transition: 0.3s;
}
#img-projet-PBS:hover {
    transform: scale(1.2, 1.2);
}

/*grille projet 2 */
#grille-projets-2 {
    display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
}
#img-projet-PO {
    width: 85%;
    padding-left: 7.5%;
    transition: 0.3s;
}
#img-projet-PO:hover {
    transform: scale(1.2, 1.2);
}

/*grille projet GitHub */
#grille-projets-GitHub {
    display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
}
#img-projet-GitHub {
    width: 85%;
    padding-left: 7.5%;
    transition: 0.3s;
}
#img-projet-GitHub:hover {
    transform: scale(1.2, 1.2);
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE CRÉDITS & RGPD */ /**/ /**/ /**/ /**/

main section div.h1-credits h1 {
    text-align: center;
}
main section div.h2-credits h2{
    text-align: center;
}
main section div.p1-credits h4, main section div.p2-credits h4 {
    text-align: center;
}
main section div.p1-credits li, main section div.p2-credits li{
    text-align: center;
}
main section div.p1-rgpd h2, main section div.p2-rgpd h2, main section div.p3-rgpd h2, main section div.p4-rgpd h2, main section div.p5-rgpd h2, main section div.p6-rgpd h2{
    padding-left: 12.5%;
}
main section div.p1-rgpd p, main section div.p2-rgpd p, main section div.p3-rgpd p, main section div.p4-rgpd p, main section div.p5-rgpd p, main section div.p6-rgpd p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}
main section div.p4-rgpd h3{
    text-align: center;
}
main section div.p5-rgpd ul li{
    text-align: center;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE : PROJET IAWA */ /**/ /**/ /**/ /**/

/* texte du h2 et partie 1 */
main section article div.iawa-txt-sup p, main section article div.iawa-txt-p1 p{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}
main section article div.iawa-txt-p1 h3{
    text-align: center;
}
main section article div img#iawa-img-p1 {
    width: 75%;
    padding-left: 12.5%;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE : PROJET ÉTUDIANT Psychobject */ /**/ /**/ /**/ /**/
.txt-presentation-psychobject{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 25px;
}
#grille-Psychobject {
    display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(6, auto);
}
.txt-titre-psychobject{
    color: #b2061e;
    padding-left: 10%;
    padding-right: 10%;
}
.txt-paragraphe-psychobject {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 25px;
}
.img-projet-psychobject {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

