/**/ /**/ /* GÉNÉRAL */ /**/ /**/

/* retire la marge auto */
html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
/* espace qui fait démarrer le main en-dessous du header */
main {
    margin-top: 0;
}
/* modifie les listings en <ul> pour enlever le padding devant */
ul {
    padding-inline-start: 0px;
    text-decoration: none;
}
li {
    text-decoration: none;
}
/* Séparateur fait main (à revoir)*/
.separateur {
    background: #ffffff; 
    text-align: center;
    width: 50%;
    height: 10px;
    margin: auto;
}
/* Séparateur de base custom (préférable)*/
hr {
    border: 2px solid #4272ad;
    width: 50%;
    margin: auto;
    
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE INDEX.HTML (accueil) */ /**/ /**/ /**/ /**/

/**/ /**/ /* HEADER */ /**/ /**/


/* Emplacement et Forme du header */

/* header fixé au top */
#topbar {
    width: 100%;
    height: 15%;
}
/* forme du header */
header div.topbar{
    background-color: #fafafa;
    border: 1px solid #e1e1e1; border-left: none; border-right: none; border-top: none;
}
/* logo du header */
header div img {
    width: 15%;
    height: auto;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: 0.3s; 
}
/* animation du survol du logo ( À FAIRE ) */
header div img:hover {
    transform: scale(1.2, 1.2);
}

/* Menu de Navigation du Header */

/* class du menu de navigation --> met à droite les boutons */
header div nav.menu-nav{
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* class des boutons --> modifie les boutons */
header div nav ul li.btn-nav{
    display: inline-block;
    list-style-type: none;
    font-size: 45px;
    color: #4c98c7;
    margin-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Design des boutons */

/* modifie le visuel des liens des boutons */
header div nav ul li.btn-nav a{
    text-decoration: none;
    color: #4c98c7;
}
/* Ajoute un soulignement rouge lors du survol */
header div nav ul li.btn-nav a:hover{
    transition: 0.5s;
    text-decoration: underline #c73434;
    color: #4272ad;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/**/ /**/ /* MAIN */ /**/ /**/


/* TEXTE D'ACCUEIL */

/* Bienvenue */
main section div.texte-accueil h1{
    font-size: 60px;
    text-align: center;
    color: #4272ad;
}
/* texte d'accueil */
main section div.texte-accueil p{
    font-size: 40px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: #4272ad;
}
/* images du menu de navigation d'accueil */
main section div nav ul li img.img-nav-accueil{
    width:75%;
    height: auto;
    display:block;
    margin: auto;
    transition: 0.8s;
}
main section div nav ul li img:hover{
    transform: rotateY(180deg);
}

/* MENU DE NAVIAGTION AVEC IMAGES */

/* enlever les puces */
main section div nav.nav-accueil ul li{
    list-style-type: none;
}
/* Mise en place de la grille */
#grille-accueil{
    display: grid;
      /* configuration de la grille en 3 colonnes */
      grid-template-columns: 33% 33% 33%;
      grid-auto-rows: auto; 
      grid-column-gap: 2px;
      grid-row-gap: 1px;
}
 /* qui suis-je */
 #qsj {
    grid-column: 1;
    text-align: center;
    padding-top: 5%;
}
 /* compétences */
 #cpt{
    grid-column: 2;
    text-align: center;
    padding-top: 5%;
}
 /* Projets */
 #prj {
    grid-column: 3;
    text-align: center;
    padding-top: 5%;
}
/* modifier textes */
main section div nav.nav-accueil ul li h3{
    font-size: 30px;
}


/* PRÉSENTATIONS PERSONNELLES */

/* Titre de section : Présentation Personnelle */
main section article div.titre-section h2{
    font-size: 50px;
    text-align: center;
    color: #121212;
}
main section article div.titre-section p{
    font-size: 30px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: #4272ad;
}


/* Titre de partie : À la recherche du Numérique / Une expérience enrichissante / Désillusion et Réorientation */
main section article div div.s3-titre1 h3, main section article div div.s3-titre2 h3, main section article div div.s3-titre3 h3{
    text-align: center;
    font-size: 40px;
}

/* Titre de sous-partie */
main section article div div.s3-texte1 h4, main section article div div.s3-texte2 h4, main section article div div.s3-texte3 h4{
    font-size: 32px;
    text-align: left;
    padding-left: 20px;
}
/* Texte de sous-partie */
main section article div div.s3-texte1 p, main section article div div.s3-texte2 p,main section article div div.s3-texte3 p{
    font-size: 26px;
    text-align: left;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    color: #4272ad;
}

/* Images d'illustrations  */
main section article div div img#img-imac, main section article div div img#img-btsam, main section article div div img#img-nws{
    width: 75%;
    height: auto;
    padding-left: 12.5%;
}

main section article div.ccl-presentation h5{
    text-align: center;
    color: #4c98c7;
    font-size: 26px;
}


/* COMPÉTENCES ET EXPÉRIENCES */

/* Titre de section : Présentation Personnelle */
main section div div.titre-section h2{
    font-size: 50px;
    text-align: center;
    color: #121212;
}
main section div div.titre-section p{
    font-size: 24px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color: #4272ad;
}

/* Titre de partie : Compétences / Expériences */
main section div div.liste-cpt h3, main section div div.liste-exp h3{
    text-align: center;
    font-size: 40px;
}

/* Titre de sous-partie */
main section div div.liste-cpt h4, main section div div.liste-exp h4{
    font-size: 32px;
    text-align: left;
    padding-left: 12%;
    color: #c73434;
}
/* Texte de sous-partie */
main section div div.liste-cpt ul li{
    font-size: 24px;
    padding-left: 15%;
    padding-right: 10%;
    color: #4272ad;
}
/* Texte de sous-partie */
main section div div.liste-exp ul li{
    font-size: 24px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    color: #4272ad;
}

/* Images d'illustrations  */
main section div div img#img-cv, main section div div img#img-ldr {
    width: 75%;
    height: auto;
    padding-left: 12.5%;
}


/* PROJETS */

/* */



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


/**/ /**/ /* F00TER */ /**/ /**/


/* Emplacement et Forme du footer */

/* footer en grille */
footer div#grille-footer{
    display: grid;
      /* configuration de la grille en 3 colonnes */
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4,auto);
      grid-auto-rows: auto; 
      grid-column-gap: 2px;
      grid-row-gap: 1px;
      background-color: #fafafa;
}
/* bande bleu de démarcation du footer */
footer div.grille-footer{
    border: 1px solid #4c98c7; border-left: none; border-right: none; border-bottom: none;
}

/* Placements des blocs du footer en partant du haut*/

/* bloc 1 : logo footer */
footer div div.footer-bloc1 img#logo-footer.logo-footer{
    width:50%;
    padding-top: 5%;
    margin-left: 25%;
}
/* texte sous logo footer */
footer div div.footer-bloc1 p{
    font-size: 35px;
    text-align: center;
}

/* bloc 2 : Contactez moi */

/* Contactez moi */
footer div div.footer-bloc2 h5{
    font-size: 30px;
    text-align: center;
    color: #c73434;
}
/* Par email / Sur Linkedin & GitHub */
footer div div.footer-bloc2 h6{
    font-size: 30px;
    padding-left: 22%;
}
/* contact.guillaumebullet@gmail.com */
footer div div.footer-bloc2 p{
    font-size: 36px;
    text-align: center;
    color: #4272ad;
}
/* logo linkedin & github */
footer div div.footer-bloc2 img.linkedin-logo,footer div div.footer-bloc2 img.github-logo{
    width: 25%;
    padding-left: 17%;
    transition: 0.3s;
}
/* survol logo linkedin & github */
footer div div.footer-bloc2 img.linkedin-logo:hover,footer div div.footer-bloc2 img.github-logo:hover{
    transform: scale(1.2, 1.2);
}
/* liens logo linkedin & github */
footer div div.footer-bloc2 a{
    text-decoration: none;
}

/* bloc 3 : Menu de Navigation */

/* class du menu de navigation --> met au centre les boutons */
footer div div nav.menu-nav-footer{
    text-align: center;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* class des boutons --> modifie les boutons */
footer div div nav ul li.btn-nav-footer{
    list-style-type: none;
    font-size: 50px;
    color: #4c98c7;
    margin-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Design des boutons */

/* modifie le visuel des liens des boutons */
footer div div nav ul li.btn-nav-footer a{
    text-decoration: none;
    color: #4c98c7;
}
/* Ajoute un soulignement rouge lors du survol */
footer div div nav ul li.btn-nav-footer a:hover{
    transition: 0.5s;
    text-decoration: underline #c73434;
    color: #4272ad;
}

/* bloc 4 : Navigation Derniers Projets  */
/* class du menu de navigation --> met à gauche les boutons */
footer div div nav.menu-projets-footer{
    padding-left: 10%;
}
/* class des boutons --> modifie les boutons */
footer div div nav ul li.btn-projets-footer {
    list-style-type: none;
    font-size: 40px;
    margin-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Design des boutons */

/* modifie le visuel des liens des boutons */
footer div div nav ul li.btn-projets-footer a{
    text-decoration: none;
    color: #555555;
}
/* Ajoute un soulignement rouge lors du survol */
footer div div nav ul li.btn-projets-footer a:hover{
    transition: 0.5s;
    color: #c73434;
}


/* Emplacement et Forme de la socket */

/* Socket */
footer div.socket p{
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: black;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/**/ /**/ /**/ /**/ /* PAGE CONTACT */ /**/ /**/ /**/ /**/


/* Mise en forme des textes */
main section.mails div h1{
    text-align: center;
    font-size: 60px;
}
main section.mails div h2{
    text-align: center;
    font-size: 50px;
}
main section.mails div ul li{
    text-align: center;
    font-size: 40px;
    color: #4272ad;
}

/* Centrage du texte et des images */
main section.reseaux-sociaux div ul li, main section.reseaux-sociaux div h2{
    text-align: center;
    font-size: 50px;
}
/* logo linkedin & github */
main section.reseaux-sociaux img.linkedin-logo, main section.reseaux-sociaux img.github-logo{
    width: 25%;
    transition: 0.3s;
}
/* survol logo linkedin & github */
main section.reseaux-sociaux img.linkedin-logo:hover, main section.reseaux-sociaux img.github-logo:hover{
    transform: scale(1.2, 1.2);
}
/* profil linkedin & github */
main section.reseaux-sociaux img.linkedin-profil, main section.reseaux-sociaux img.github-profil{
    width: 75%;
    height: auto;
    transition: 0.3s;
}
/* survol profil linkedin & github */
main section.reseaux-sociaux img.linkedin-profil:hover, main section.reseaux-sociaux img.github-profil:hover{
    transform: scale(1.2, 1.2);
}
/* liens logo linkedin & github */
main section.reseaux-sociaux a{
    text-decoration: none;
}

/* titre crédits et mentions légales */
main section.credits-rgpd div h2{
    text-align: center;
    font-size: 40px;
}
/* crédits et rgpd texte*/
main section.credits-rgpd div p{
    text-align: center;
    text-decoration: none;
}
/* lien crédits et rgpd */
main section.credits-rgpd div p a{
    text-align: center;
    text-decoration: none;
    color: #c73434;
    font-size: 34px;
    transition: 0.3s;
}
main section.credits-rgpd div p a:hover{
    color: #4272ad;
}